openapi: 3.2.0
info:
  title: Picklr WordPress REST API (derived) Press API
  version: wp/v2
  summary: Public read surface of thepicklr.com, derived from the live WordPress REST route index.
  description: DERIVED ARTIFACT — The Picklr does NOT publish an OpenAPI description.
  contact:
    name: The Picklr
    url: https://thepicklr.com/
    email: hello@thepicklr.com
  termsOfService: https://thepicklr.com/terms-of-use/
  x-provenance:
    method: derived
    source: https://thepicklr.com/wp-json/
    source_http_status: 200
    derived: '2026-08-30'
    derived_by: api-evangelist enrichment pipeline (local-v1)
    note: Not published by the provider. Do not represent this as a first-party specification.
servers:
- url: https://thepicklr.com/wp-json
  description: Production WordPress REST API for thepicklr.com
security: []
tags:
- name: Press
paths:
  /wp/v2/press:
    get:
      operationId: get_wp_v2_press
      summary: List press
      description: Anonymous read access verified 2026-08-30 against the live endpoint.
      tags:
      - Press
      parameters:
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: page
        in: query
        required: false
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: per_page
        in: query
        required: false
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        required: false
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: after
        in: query
        required: false
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_after
        in: query
        required: false
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: before
        in: query
        required: false
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        required: false
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: exclude
        in: query
        required: false
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: include
        in: query
        required: false
        description: Limit result set to specific IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: menu_order
        in: query
        required: false
        description: Limit result set to posts with a specific menu_order value.
        schema:
          type: integer
      - name: search_semantics
        in: query
        required: false
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: offset
        in: query
        required: false
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        required: false
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        required: false
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          - menu_order
          default: date
      - name: parent
        in: query
        required: false
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: parent_exclude
        in: query
        required: false
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          default: []
          items:
            type: integer
      - name: search_columns
        in: query
        required: false
        description: Array of column names to be searched.
        schema:
          type: array
          default: []
          items:
            enum:
            - post_title
            - post_content
            - post_excerpt
            type: string
      - name: slug
        in: query
        required: false
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        required: false
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          default: publish
          items:
            enum:
            - publish
            - future
            - draft
            - pending
            - private
            - trash
            - auto-draft
            - inherit
            - request-pending
            - request-confirmed
            - request-failed
            - request-completed
            - acf-disabled
            - spam
            - jp-temp-feedback
            - email_sent
            - email_failed
            - email_scheduled
            - draft-revision
            - pending-revision
            - future-revision
            - any
            type: string
      - name: tax_relation
        in: query
        required: false
        description: Limit result set based on relationship between multiple taxonomies.
        schema:
          type: string
          enum:
          - AND
          - OR
      - name: press-category
        in: query
        required: false
        description: Limit result set to items with specific terms assigned in the press-category taxonomy.
        schema:
          type: object
      - name: press-category_exclude
        in: query
        required: false
        description: Limit result set to items except those with specific terms assigned in the press-category taxonomy.
        schema:
          type: object
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
          headers:
            X-WP-Total:
              description: Total number of items in the collection.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available.
              schema:
                type: integer
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required or insufficient capability (code rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched (code rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
  /wp/v2/press/{id}:
    get:
      operationId: get_wp_v2_press_id
      summary: Retrieve press
      description: Anonymous read access verified 2026-08-30 against the live endpoint.
      tags:
      - Press
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: Unique identifier for the resource.
      - name: context
        in: query
        required: false
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: password
        in: query
        required: false
        description: The password for the post if it is password protected.
        schema:
          type: string
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
          headers: {}
        '400':
          description: Invalid parameter.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '401':
          description: Authentication required or insufficient capability (code rest_forbidden).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
        '404':
          description: No route or resource matched (code rest_no_route / rest_post_invalid_id).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WPError'
components:
  schemas:
    WPError:
      type: object
      description: WordPress REST API error envelope, observed verbatim on live 401/404 responses.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. rest_forbidden, rest_no_route, rest_oauth_required.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: 'WordPress Application Passwords. Authorization endpoint advertised by the live API root: https://thepicklr.com/wp-admin/authorize-application.php. Required for any write operation; anonymous callers get the read-only surface described here.'
    oauth2:
      type: oauth2
      description: OAuth 2.1 authorization code + PKCE (S256) with RFC 7591 dynamic client registration, advertised at https://thepicklr.com/.well-known/oauth-authorization-server. Gates the MCP endpoint, not the wp/v2 read surface.
      flows:
        authorizationCode:
          authorizationUrl: https://thepicklr.com/wp-admin/admin.php?page=novamira-oauth-authorize
          tokenUrl: https://thepicklr.com/wp-json/novamira/v1/oauth/token
          refreshUrl: https://thepicklr.com/wp-json/novamira/v1/oauth/token
          scopes:
            mcp: Access the Model Context Protocol server exposed by the site.
